*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* background and blur */

.backgrounds-imaged{
    background-image: url(../image/Marketing-Team.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;
    position: relative;
}

.blur-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

/* background and blur end  */

/* header section in background image*/

.kins{
    text-align: center;
    margin-top: 20%;
}
.aboutusd{
    color: #fff;
    font-size: 40px;
}
.homeus{
    margin-top: 15px;
    color: #fff;
}
.butt{
    display: inline-block;
    margin-top: 25px;
    padding: 10px 25px;
    background-color: blue;
    color: #fff;
    transition: .3s;
}

.butt:hover{
    border-radius: 15px;
}
.buttsd{
    display: inline-block;
    padding: 10px 25px;
    background-color: blue;
    color: #fff;
    margin-left: 30px;
    border-radius: 15px;
    transition: .3s;
}

.buttsd:hover{
    border-radius: 0px;
}

/* end header section in background image */

















/* responsive */

@media screen and (max-width: 995px) {
    .main-menu{
        display: none;
    }
    .humberger{
      display: block;
      display: flex;
      margin-right: 20px;
    }

    .humberger #drop2{
        display: none;
    }

    .humberger.active #drop2{
        display: block;
    }

    .humberger.active #drop{
        display: none;
    }
   
    .main-menu.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 82px;
        left: 0;
        z-index: 100;
    }

    .nav-item{
        padding: 15px;
        width: 1100px;
        background-color: #f9f7f7;
        border-top: 1px solid rgb(1 220 255);
    }

    .nav-item:nth-child(4) {
        border-bottom: 1px solid rgb(1 220 255)
    }

    .nav-link{
        color: black;
    }

    .nav-item::before{
        display: none;
    }

    .backgrounds-imaged{
        margin-top: 82px;
    }

    .mnour{
        color: black;
    }
    
}



@media  screen and (max-width: 775px) {
    .backgrounds-imaged{
        height: 479px;
    }
    .aboutusd{
        margin-top: 26%;
    }
}


@media screen and (max-width: 500px) {
    .aboutusd{
        margin-top: 150px;
    }
}



@media screen and (max-width: 270px) {
    .meta{
        width: 60px;
    }

    .humberger{
        height: 35px;
        width: 35px;
    }
    .backgrounds-imaged{
        margin-top: 70px;
        height: 612px
    }
    .main-menu.active{
        margin-top: -13px;
    }
    .aboutusd{
        margin-top: 140px
    }
    .backgrounds-imaged{
        height: 490px;
    }
    .mnour{}
}

@media screen and (max-width: 253px) {
    .dirsl{
        display: none;
    }
    .buttsd{
        margin-right: 27px;
        margin-top: 20px;
    }
}


