*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* background and blur */

.backgroundf-imaged{
    background-image: url(../image/card-image8.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 657px;
    position: relative;
}

.blur-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

/* background and blur end  */

/* header section in background image */

.chdsf{
    text-align: center;
    margin-top: 20%;
}

.cntactde{
    color: #fff;
}
.homesded{
   margin-top: 15px;
    color: #fff;
}
.aboutsdf{
   display: inline-block;;
    padding: 10px 30px;
    background-color: blue;
    color: #fff;
    margin-top: 20px;
    margin-right: 30px;
    transition: .3s;
}
.aboutsdf:hover{
    background-color: rgba(37, 228, 82, 1);
    color: black;
}

.hlme{
   display: inline-block;
    padding: 10px 30px;
    background-color: rgba(37, 228, 82, 1);
    color: #fff;
    transition: .3s;
}

.hlme:hover{
    background-color: blue;
}







/* responsive */

@media screen and (max-width: 995px) {
    .main-menu{
        display: none;
    }
    .humberger{
      display: block;
      display: flex;
      margin-right: 20px;
    }

    .humberger #drop2{
        display: none;
    }

    .humberger.active #drop2{
        display: block;
    }

    .humberger.active #drop{
        display: none;
    }
   
    .main-menu.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 82px;
        left: 0;
        z-index: 100;
    }

    .nav-item{
        padding: 15px;
        width: 1100px;
        background-color: #f9f7f7;
        border-top: 1px solid rgb(1 220 255);
    }

    .nav-item:nth-child(4) {
        border-bottom: 1px solid rgb(1 220 255)
    }

    .nav-link{
        color: black;
    }

    .nav-item::before{
        display: none;
    }

    .backgroundf-imaged{
        margin-top: 82px;
    }

    .mnour{
        color: black;
    }
    
    
}

@media  screen and (max-width: 775px) {
    .backgroundf-imaged{
        height: 479px;
    }
    .cntactde{
        margin-top: 160px;
    }
}


@media screen and (max-width: 270px) {
    .meta{
        width: 60px;
    }

    .humberger{
        height: 35px;
        width: 35px;
    }
    .backgroundf-imaged{
        margin-top: 70px;
        height: 490px;
    }
    .main-menu.active{
        margin-top: -13px;
    }
    .adfro{
        display: none;
    }
    .mnour{}
}

@media screen and (max-width: 239px) {
   .aboutsdf{
        margin-left: 27px;
   } 
   .hlme{
       margin-top: 20px;
   }
}

