*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* background and blur */

.backgroundd-imaged{
    background-image: url(../image/bulding-image2.jpg);
    background-position: middle;
    background-repeat: no-repeat;
    background-size: cover;
    height: 767px;
    position: relative;
}

.blur-background{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}

.wrappers{
    width: 100%;
    max-width: 1510px;
    margin-left: auto;
    margin-right: auto;
}

.nav-links{
    color: #fff;
    font-size: 17px;
    padding: 20px 25px;
}

.first-section.sticky .nav-links{
    color: rgb(71, 65, 65);
}

.nav-item{
    transition: .3s;
    position: relative;
    cursor: pointer;
}

.nav-item:hover .nav-links{
    color: blue;
}

/* background and blur end  */

/* responsive */

@media screen and (max-width: 995px) {
    .main-menu{
        display: none;
    }
    .humberger{
      display: block;
      display: flex;
      margin-right: 20px;
    }

    .humberger #drop2{
        display: none;
    }

    .humberger.active #drop2{
        display: block;
    }

    .humberger.active #drop{
        display: none;
    }
   
    .main-menu.active{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 82px;
        left: 0;
        z-index: 100;
    }

    .nav-item{
        padding: 15px;
        width: 1100px;
        background-color: #f9f7f7;
        border-top: 1px solid rgb(1 220 255);
    }

    .nav-item:nth-child(4) {
        border-bottom: 1px solid rgb(1 220 255)
    }

    .nav-link{
        color: black;
    }

    .nav-item::before{
        display: none;
    }

    .backgroundd-imaged{
        margin-top: 82px;
    }

    .mnour{
        color: black;
    }
    
    
}

@media  screen and (max-width: 775px) {
    .backgroundd-imaged{
        height: 600px;
    }
}


@media screen and (max-width: 270px) {
    .meta{
        width: 60px;
    }

    .humberger{
        height: 35px;
        width: 35px;
    }
    .backgroundd-imaged{
        margin-top: 70px;
        height: 612px
    }
    .main-menu.active{
        margin-top: -13px;
    }
    .mnour{}
}

